body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -ms-overflow-style: none;
    font-family: 'Comic Sans MS';
}

a {
    color: #000;
}

h1 {
    margin: 0;
}

input, button, div, span, p {
    font-family: 'Comic Sans MS';
}

.startBtn {
    position: absolute;
    padding: 1% 0;
    top: -40%;
    left: 45%;
    width: 10%;
}

.startBtn_full {
    transition: all 500ms;
    padding: 1% 0;
    position: absolute;
    top: 40%;
    left: 45%;
    width: 10%;
}

.startBtn_pull {
    transition: all 500ms;
    padding: 1% 0;
    position: absolute;
    top: 140%;
    left: 45%;
    width: 10%;
}

.gameFrame {
    width: 98%;
    height: 98%;
    background: #112D5C;
    position: absolute;
    top: -100%;
    left: 1%;
}

.gameFrame_full {
    transition: all 500ms;
    width: 98%;
    height: 98%;
    background: #000;
    position: absolute;
    top: 1%;
    left: 1%;
}

.gameArena {
    transition: all 800ms;
    
    background-image: url('../images/assets/ooze.jpg');
    
    background-size: cover ;
    background-repeat:no-repeat;
    box-shadow:0 70px 170px -70px red inset;
    position: absolute;
    width: 100%;
    height: 80%;
    top: 55px;
    left: 0;
}

.changeHomeCellBtn {
    transition: all 200ms;
    color: rgba(78, 78, 78, 1);
    text-shadow: 0 1px 0 rgba(228, 228, 228, 0.7);
    box-shadow: 0 0 27px #000 inset;
    border: 2px solid rgba(78, 78, 78, 1);
    position: absolute;
    width: 50px;
    line-height: 50px;
    font-size: 2rem;
    text-align: center;
    left: -75px;
    bottom: 205px;
    background: #fff;
}

.changeHomeCellBtn_full {
    transition: all 200ms;
    color: rgba(78, 78, 78, 1);
    text-shadow: 0 1px 0 rgba(228, 228, 228, 0.7);
    box-shadow: 0 0 35px rgba(0,0,0,1) inset;
    border: 5px ridge rgba(48, 48, 48, 1);
    position: absolute;
    width: 50px;
    line-height: 50px;
    font-size: 2rem;
    text-align: center;
    left: 5px;
    bottom: 205px;
    background: #fff;
}

    .changeHomeCellBtn_full:hover {
        border: 5px groove rgba(48, 48, 48, 1);
    }

.timeBtn {
    transition: all 200ms;
    color: rgba(78, 78, 78, 1);
    text-shadow: 0 1px 0 rgba(228, 228, 228, 0.7);
    box-shadow: 0 0 35px rgba(0,0,0,1) inset;
    border: 5px ridge rgba(48, 48, 48, 1);
    position: absolute;
    width: 50px;
    line-height: 50px;
    font-size: 2rem;
    text-align: center;
    left: -75px;
    bottom: 275px;
    background: #fff;
}

.timeBtn_full {
    transition: all 200ms;
    color: rgba(78, 78, 78, 1);
    text-shadow: 0 1px 0 rgba(228, 228, 228, 0.7);
    box-shadow: 0 0 35px rgba(0,0,0,1) inset;
    border: 5px ridge rgba(48, 48, 48, 1);
    position: absolute;
    width: 50px;
    line-height: 50px;
    font-size: 2rem;
    text-align: center;
    left: 5px;
    bottom: 275px;
    background: #fff;
}

    .timeBtn_full:hover {
        border: 5px groove rgba(48, 48, 48, 1);
    }

.turnBtn {
    transition: all 500ms;
    color: rgba(78, 78, 78, 1);
    text-shadow: 0 1px 0 rgba(228, 228, 228, 0.7);
    box-shadow: 0 0 20px #000 inset;
    border: none;
    position: absolute;
    width: 10%;
    line-height: 50px;
    font-size: 1rem;
    left: 0;
    top: 0;
    background-image: url('../images/assets/sheet.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
}

    .turnBtn:hover {
        opacity: 0.9;
    }

.turnBtn_lit {
    transition: all 500ms;
    background-image: url('../images/assets/sheet.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    text-shadow: 0 1px 0 rgba(228, 228, 228, 0.7);
    box-shadow: 1px 1px 80px #bebe13 inset;
    border: none;
    position: absolute;
    width: 10%;
    line-height: 50px;
    left: 0;
    top: 0;
}

.header {
    position: absolute;
    top: 0;
    left: 10.2%;
    background-image: url('../images/assets/sheet.jpg');
    background-position: left;
    box-shadow: 0 0 20px #000 inset;
    background-repeat: repeat;
    background-size: auto;
    width: 51.6%;
    color: rgba(78, 78, 78, 1);
    text-shadow: 0 1px 0 rgba(228, 228, 228, 0.7);
    line-height: 52px;
    text-align: center;
    font-size: 1rem;
}

.slot {
    position: absolute;
    background-image: url('../images/assets/sheet.jpg');
    background-position: left;
    background-repeat: repeat;
    background-size: auto;
    top: 0;
    color: rgba(78, 78, 78, 1);
    text-shadow: 0 1px 0 rgba(228, 228, 228, 0.7);
    box-shadow: 0 0 20px #000 inset;
    left: 62%;
    width: 17.7%;
    line-height: 52px;
    text-align: center;
}

.clock {
    position: absolute;
    text-indent: 4%;
    background-image: url('../images/assets/sheet.jpg');
    background-position: left;
    background-repeat: repeat;
    background-size: auto;
    color: rgba(78, 78, 78, 1);
    text-shadow: 0 1px 0 rgba(228, 228, 228, 0.7);
    box-shadow: 0 0 20px #000 inset;
    border: none;
    width: 20%;
    line-height: 50px;
    right: 0;
    font-size: 1rem;
    top: 0;
    cursor: auto;
}

.menuTab {
    transition: all 500ms;
    position: absolute;
    color: #000;
    text-indent: 4%;
    background: rgba(128, 128, 128, 1);
    border: none;
    width: 20%;
    height: 3%;
    padding: 1% 0;
    right: 0;
    bottom: 0;
}

    .menuTab:hover {
        background: rgba(255, 255, 255, 0.8);
    }

.menuTab_full {
    transition: all 500ms;
    position: absolute;
    color: #000;
    text-indent: 4%;
    background: rgba(128, 128, 128, 1);
    border: none;
    width: 20%;
    height: 77%;
    padding: 1% 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

    .menuTab_full button {
        background: none;
        border: none;
        font-weight: 900;
    }

.skye {
    transition: all 500ms;
    position: absolute;
    background-image: url('../images/assets/skye.jpg');
    background-size: 200px 200px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    width: 200px;
    height: 200px;
    left: 5px;
    bottom: 0;
    z-index: 5;
}

.chatBox {
    color: transparent !important;
    transition: all 500ms;
    color: transparent !important;
    position: absolute;
    background: #fff;
    box-shadow: 0 0 8px black;
    border-radius: 0 25px 25px 25px;
    border: none;
    width: .5%;
    text-align: right;
    padding-right: 20px;
    height: 6%;
    left: 155px;
    bottom: 1%;
    z-index: 5;
}

.chatBox_full {
    transition: all 500ms;
    position: absolute;
    background: #fff;
    box-shadow: 0 0 8px black;
    border-radius: 0 25px 25px 25px;
    border: none;
    width: 60%;
    transform: skew(0, -30px);
    text-align: right;
    padding-right: 20px;
    height: 6%;
    left: 155px;
    color: black;
    bottom: 1%;
    z-index: 5;
}

.settBtn {
    position: absolute;
    padding: 1% 0;
    top: -40%;
    left: 45%;
    width: 10%;
}

.settBtn_full {
    transition: all 500ms;
    padding: 1% 0;
    position: absolute;
    top: 50%;
    left: 45%;
    width: 10%;
}

.settBtn_pull {
    transition: all 500ms;
    padding: 1% 0;
    position: absolute;
    top: 140%;
    left: 45%;
    width: 10%;
}

.clearBtn {
    position: absolute;
    padding: 1% 0;
    top: -40%;
    left: 45%;
    width: 10%;
}

.clearBtn_full {
    transition: all 500ms;
    padding: 1% 0;
    position: absolute;
    top: 50%;
    left: 45%;
    width: 10%;
}

.clearBtn_pull {
    transition: all 500ms;
    padding: 1% 0;
    position: absolute;
    top: 140%;
    left: 45%;
    width: 10%;
}

.backBtn {
    position: absolute;
    padding: 1% 0;
    top: -40%;
    left: 45%;
    width: 10%;
}

.backBtn_full {
    transition: all 500ms;
    padding: 1% 0;
    position: absolute;
    top: 40%;
    left: 45%;
    width: 10%;
}

.backBtn_pull {
    transition: all 500ms;
    padding: 1% 0;
    position: absolute;
    top: 140%;
    left: 45%;
    width: 10%;
}

.backMenuBtn {
    right: 1%;
    bottom: 82%;
    color: rgba(177, 10, 9, 0.6);
    text-shadow: 0 2px 0 #000;
    font-weight: 800;
    font-size: 2vh;
    position: absolute;
    z-index: 7;
    height: 1%;
    width: 1%;
}

.chatBtn {
    transition: all 1s;
    position: absolute;
    left: 1%;
    top: 90%;
    opacity: 1;
    width: 10%;
    background: red;
    border-radius: 8px;
    text-align: center;
}

.chatBtn_full {
    transition: all 1s;
    position: absolute;
    left: 55%;
    top: 90%;
    width: 10%;
    opacity: 1;
    background: red;
    border-radius: 8px;
    text-align: center;
}

.chatBtn_sleep {
    transition: all 1s;
    position: absolute;
    left: 0%;
    top: 90%;
    width: 10%;
    opacity: 0.3;
    background: transparent;
    border-radius: 8px;
    text-align: center;
}

.cell {
    transition: all 40ms;
    border-radius: 7px;
    position: fixed;
    background: #fff;
    width: 15px;
    height: 15px;
    box-shadow: 0 0 8px #fff inset;
}


@keyframes orbitC {
    from {
        box-shadow: 0 0 8px #fff inset;
    }

    to {
        box-shadow: 0 0 8px #000 inset;
    }
}

@keyframes orbitO {
    from {
        box-shadow: 0 0 8px silver inset;
    }

    to {
        box-shadow: 0 0 8px #000 inset;
    }
}

@keyframes orbitH {
    from {
        box-shadow: 0 0 8px #6b6b3b inset;
    }

    to {
        box-shadow: 0 0 8px rgba(255, 255, 255, 1) inset;
    }
}

@keyframes orbitS {
    from {
        box-shadow: 0 0 8px #000 inset;
    }

    to {
        box-shadow: 0 0 18px #9b3e9b inset;
    }
}

@keyframes orbitP {
    0% {
        box-shadow: 0 0 18px #fff inset;
    }

    25% {
        box-shadow: 0 0 8px #112D5C inset;
    }

    50% {
        box-shadow: 0 0 18px #5c035c inset;
    }

    75% {
        box-shadow: 0 0 18px #7a7a0f inset;
    }

    100% {
        box-shadow: 0 0 18px #fff inset;
    }
}

@keyframes orbitN {
    from {
        box-shadow: 0 0 8px #fff inset;
    }

    to {
        box-shadow: 0 0 18px purple inset;
    }
}

#O {
    animation-name: orbitO;
    animation-duration: 1200ms;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-play-state: running;
}

#C {
    animation-name: orbitC;
    animation-duration: 1200ms;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

#H {
    animation-name: orbitH;
    animation-duration: 1200ms;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

#S {
    animation-name: orbitS;
    animation-duration: 1200ms;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

#P {
    animation-name: orbitP;
    animation-duration: 1200ms;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

#N {
    animation-name: orbitN;
    animation-duration: 1200ms;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-play-state: running;
}

.cells {
    transition: all 40ms;
    border-radius: 7px;
    position: fixed;
    background: #fff;
    padding:0 0;
    width: 15px;
    height: 15px;
    opacity: 1;
    box-shadow: 0 0 8px #fff inset;
    border: 0 solid rgba(0,0,0,0);
    cursor:grab;
}

.cells_selected {
    transition: all 40ms;
    border-radius: 7px;
    position: fixed;
    background: #fff;
    padding:20px 20px;
    width: 15px;
    height: 15px;
    opacity: 1;
    border: 2px solid rgba(255, 255, 0, 0.88) ;
    cursor:grabbing;
}

.cells_collide {
    transition: all 400ms;
    border-radius: 7px;
    position:center;
    background: #fff;
    padding:0 0;
    width: 1px;
    margin:0 auto;
    height: 1px;
    opacity: 1;
    box-shadow: 0 0 8px #fff inset;
    border: 0 solid rgba(0,0,0,0);
    cursor:grab;
}

.matter {
    transition: all 1s;
    position: fixed;
    border-radius: 7px;
    width: 15px;
    height: 15px;
    box-shadow: 0 0 8px #fff inset;
}

.matter_throw {
    transition: all 1s;
    position: fixed;
    border-radius: 7px;
    width: 15px;
    height: 15px;
    box-shadow: 0 0 8px #fff inset;
}

.market {
    transition:all 500ms ;
    position:fixed;
    height:100%;
    width:100%;
    z-index:51;
    background-image: url('../images/assets/window.jpg');
    background-size: auto 100%;
    border-bottom: 9px ridge silver;
    top:-105%;
    left:0;
}

.market_full {
    transition: all 500ms;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 51;
    background-image: url('../images/assets/window.jpg');
    background-size:auto 100% ;
    border-bottom: 9px ridge silver;
    top: 0;
    left: 0;
}

.closeBtn {
    margin-top:2.5%;
    margin-left:1.7%;
}

.icon {
    transition:all 500ms;
    display:inline-block;
    position:relative;
    border: 3px solid rgba(220,220,220,0.5);
    z-index:92;
    margin-top:40%;
    margin-left:-10%;
    color:silver;
    width:20px;
    line-height:20px;
    text-align:center;
    text-shadow:1px 1px 1px #000, 3px 3px 5px #112D5C;

}
.icon_full {
    transition:all 500ms;
    display:inline-block;
    position:relative;
    border: 3px solid rgba(220,220,220,0.5);
    z-index:92;
    margin-top:40%;
    margin-left:5px;
    color:silver;
    width:20px;
    line-height:20px;
    text-align:center;
    text-shadow:1px 1px 1px #000, 3px 3px 5px #112D5C;;
}

.Co2Btn, .sn2Btn, .ns2Btn, .sh2Btn, .np2Btn, .c3Btn, .o3Btn, .h3Btn, .p3Btn, .n3Btn, .s3Btn, .no2Btn {
    transition:all 500ms;
    display:block;
    position:relative;
    border: 3px solid rgba(220,220,220,0.5);
    z-index:92;
    margin-top:20%;
    margin-left:-10%;
    color:silver;
    width:20px;
    line-height:20px;
    text-align:center;
    text-shadow:1px 1px 1px #000, 3px 3px 5px #112D5C;
}

.Co2Btn_full, .sn2Btn_full, .ns2Btn_full, .sh2Btn_full, .np2Btn_full, .c3Btn_full, .o3Btn_full, .h3Btn_full, .p3Btn_full, .n3Btn_full, .s3Btn_full, .no2Btn_full {
    transition:all 500ms;
    display:block;
    position:relative;
    border: 3px solid rgba(220,220,220,0.5);
    z-index:92;
    margin-top:1%;
    margin-left:5px;
    color:silver;
    width:40px;
    line-height:20px;
    text-align:center;
    text-shadow:1px 1px 1px #000, 3px 3px 5px #112D5C;;
}

.co2Win, .sn2Win, .ns2Win, .sh2Win, .np2Win, .c3Win, .o3Win, .h3Win, .p3Win, .n3Win, .s3Win, .no2Win {
    transition:all 200ms;
    opacity:1;
    text-align:center;
    position:fixed;
    width:100%;
    line-height:100vh;
    top:0;
    color:black;
    background:rgba(0,0,0,0);
}
.co2Win_full, .sn2Win_full, .ns2Win_full, .sh2Win_full, .np2Win_full, .c3Win_full, .o3Win_full, .h3Win_full, .p3Win_full, .n3Win_full, .s3Win_full, .no2Win_full {
    transition:all 100ms;
    opacity:1;
    text-align:center;
    position:fixed;
    width:100%;
    line-height:100vh;
    top:0;
    color:#fff;
    background:rgba(0,0,0,0.28);
}

.progressBar {
    transition:all 500ms;
    position:relative;
    margin-top:-52px;
    background:rgba(255, 255, 0, 0.19);
}