body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -ms-overflow-style: none;
    font-family:'Comic Sans MS';
}

h1 {
    margin:0;
}

input, button, div, span, p {
    font-family:'Comic Sans MS';
}

.startBtn {
    position: absolute;
    padding: 1% 0;
    top: -40%;
    left: 45%;
    width: 10%;
}

.startBtn_full {
    transition: all 500ms;
    padding: 1% 0;
    position: absolute;
    top: 40%;
    left: 45%;
    width: 10%;
}

.startBtn_pull {
    transition: all 500ms;
    padding: 1% 0;
    position: absolute;
    top: 140%;
    left: 45%;
    width: 10%;
}

.gameFrame {
    width: 98%;
    height: 98%;
    background: #112D5C;
    position: absolute;
    top: -100%;
    left: 1%;
}

.gameFrame_full {
    transition: all 500ms;
    width: 98%;
    height: 98%;
    background:#000;

    position: absolute;
    top: 1%;
    left: 1%;
}

.gameArena {
    background:#112D5C;
    box-shadow: 0 0 20px #000;
    position:absolute;
    width:100%;
    height:80%;
    top:55px;
    left:0;
}

.turnBtn {
    transition:all 500ms;
    color: rgba(78, 78, 78, 1);
    text-shadow: 0 1px 0 rgba(228, 228, 228, 0.7);
    box-shadow: 0 0 20px #000 inset;
    border: none;
    position: absolute;
    width: 10%;
    line-height:50px;
    font-size:1rem;
    left: 0;
    top: 0;
    background-image: url('../images/assets/sheet.jpg');
    background-position:center;
    background-repeat:repeat;
    background-size:auto;
}

    .turnBtn:hover {
        opacity:0.9;
    }

.turnBtn_lit {
    transition:all 500ms;
    background-image: url('../images/assets/sheet.jpg');
    background-position:center;
    background-repeat:repeat;
    background-size:auto;
    text-shadow: 0 1px 0 rgba(228, 228, 228, 0.7);
    box-shadow:1px 1px 80px #bebe13 inset;
    border: none;
    position: absolute;
    width: 10%;
    line-height:50px;
    left: 0;
    top: 0;
}

.header {
    position: absolute;
    top: 0;
    left: 10.2%;
    background-image: url('../images/assets/sheet.jpg');
    background-position:left;
    box-shadow: 0 0 20px #000 inset;
    background-repeat:repeat;
    background-size:auto;
    width: 51.6%;
    color: rgba(78, 78, 78, 1);
    text-shadow: 0 1px 0 rgba(228, 228, 228, 0.7);
    line-height: 52px;
    text-align: center;
    font-size: 1rem;
}

.slot {
    position:absolute;
    background-image: url('../images/assets/sheet.jpg');
    background-position:left;
    background-repeat:repeat;
    background-size:auto;
    top:0;
    color: rgba(78, 78, 78, 1);
    text-shadow: 0 1px 0 rgba(228, 228, 228, 0.7);
    box-shadow: 0 0 20px #000 inset;
    left:62%;
    width:17.7%;
    line-height:52px;
    text-align:center;

}

.clock {
    position: absolute;
    text-indent: 4%;
    background-image: url('../images/assets/sheet.jpg');
    background-position:left;
    background-repeat:repeat;
    background-size:auto;
    color: rgba(78, 78, 78, 1);
    text-shadow: 0 1px 0 rgba(228, 228, 228, 0.7);
    box-shadow: 0 0 20px #000 inset;
    border: none;
    width: 20%;
    line-height:50px;
    right: 0;
    font-size:1rem;
    top: 0;
    cursor:auto;
}

.menuTab {
    transition:all 500ms;
    position: absolute;
    color: #000;
    text-indent: 4%;
    background: rgba(128, 128, 128, 1);
    border: none;
    width: 20%;
    height: 3%;
    padding: 1% 0;
    right: 0;
    bottom: 0;
}

    .menuTab:hover {
        background: rgba(255, 255, 255, 0.8);
    }

.menuTab_full {
    transition:all 500ms;
    position: absolute;
    color: #000;
    text-indent: 4%;
    background: rgba(128, 128, 128, 1);
    border: none;
    width: 20%;
    height: 77%;
    padding: 1% 0;
    right: 0;
    bottom: 0;
    z-index:5;
}

.skye {
    transition: all 500ms;
    position: absolute;
    background-image: url('../images/assets/skye.jpg');
    background-size:200px 200px;
    background-position:center;
    background-repeat:no-repeat;

    border: none;
    width: 200px;
    height: 200px;
    left: 5px;
    bottom: 1%;
    z-index: 5;
}
.chatBox {
    color:transparent !important;
    transition: all 500ms;
    color:transparent !important;
    position: absolute;
    background: #fff;
    box-shadow: 0 0 8px black;
    border-radius: 0 25px 25px 25px;
    border: none;
    width: .5%;
    text-align:right;
    padding-right:20px;
    height: 6%;
    left: 155px;
    bottom: 1%;
    z-index: 5;
    
}
.chatBox_full {
    transition: all 500ms;
    position: absolute;
    background: #fff;
    box-shadow: 0 0 8px black;
    border-radius: 0 25px 25px 25px;
    border: none;
    width: 60%;
    transform:skew(0, -30px);
    text-align:right;
    padding-right:20px;
    height: 6%;
    left: 155px;
    color: black;
    bottom: 1%;
    z-index: 5;
}

.settBtn {
    position: absolute;
    padding: 1% 0;
    top: -40%;
    left: 45%;
    width: 10%;
}

.settBtn_full {
    transition: all 500ms;
    padding: 1% 0;
    position: absolute;
    top: 50%;
    left: 45%;
    width: 10%;
}

.settBtn_pull {
    transition: all 500ms;
    padding: 1% 0;
    position: absolute;
    top: 140%;
    left: 45%;
    width: 10%;
}

.clearBtn {
    position: absolute;
    padding: 1% 0;
    top: -40%;
    left: 45%;
    width: 10%;
}

.clearBtn_full {
    transition: all 500ms;
    padding: 1% 0;
    position: absolute;
    top: 50%;
    left: 45%;
    width: 10%;
}

.clearBtn_pull {
    transition: all 500ms;
    padding: 1% 0;
    position: absolute;
    top: 140%;
    left: 45%;
    width: 10%;
}

.backBtn {
    position: absolute;
    padding: 1% 0;
    top: -40%;
    left: 45%;
    width: 10%;
}

.backBtn_full {
    transition: all 500ms;
    padding: 1% 0;
    position: absolute;
    top: 40%;
    left: 45%;
    width: 10%;
}

.backBtn_pull {
    transition: all 500ms;
    padding: 1% 0;
    position: absolute;
    top: 140%;
    left: 45%;
    width: 10%;
}

.backMenuBtn {
    right:1%;
    bottom:82%;
    color:rgba(177, 10, 9, 0.6);
    text-shadow: 0 2px 0 #000;
    font-weight:800;
    font-size:2vh;
    position:absolute;
    z-index:7;
    height:1%;
    width:1%;
}

.chatBtn {
    transition:all 1s;
    position:absolute;
    left:1%;
    top:90%;
    opacity:1;
    width:10%;
    background:red;
    border-radius:8px;
    text-align:center;
}
.chatBtn_full {
    transition:all 1s;
    position:absolute;
    left:55%;
    top:90%;
    width:10%;
    opacity:1;
    background:red;
    border-radius:8px;
    text-align:center;
}
.chatBtn_sleep {
    transition:all 1s;
    position:absolute;
    left:0%;
    top:90%;
    width:10%;
    opacity:0.3;
    background:transparent;
    border-radius:8px;
    text-align:center;
}

.cell {
    transition:all 40ms;
    border-radius: 2.5px;
    position:fixed;
    background:#fff;
    width:5px;
    height:5px;
    box-shadow:0 0 5px #000;
}

.matter {
    transition:all 1s;
    position:fixed;
    border-radius: 2.5px;
    background:#fff;
    width:5px;
    height:5px;
    box-shadow:0 0 5px #000;

}
.matter_throw {
    transition:all 1s;
    position:fixed;
    border-radius: 2.5px;
    background:#fff;
    width:5px;
    height:5px;
    box-shadow:0 0 5px #000;

}